.head {
    position: absolute;
width: 1350px;
height: 800px;
left: 20%;
top: 8%;

background: #ffffff;
}

.header{
    padding: 180px 0;
    max-width: 950px;
    margin: auto; 
}
.header_top_text h4{
position: absolute;
margin-top: -1.2em;
margin-left: 1.3rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 52px;
color: #23262F;
}
.header_text h2{
position: absolute;
margin-top: 0.35em;
margin-left: 1.1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 52px;
color: #23262F;
}
.header_image img{
position: absolute;
margin-top: 0.39em;
padding-left: 21%;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

.button--google {
box-sizing: border-box;
position: absolute;
width: 170px;
height: 44px;
left: 220px;
top: 280px;
background: #FFFFFF;
border: 2px solid #DEE0E2;
border-radius: 10px;
}
.button--apple {
box-sizing: border-box;
position: absolute;
width: 170px;
height: 44px;
left: 420px;
top: 280px;
background: #FFFFFF;
border: 2px solid #DEE0E2;
border-radius: 10px;
}
.button_position img{
    position: absolute;
    margin-left: -1.49rem;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
.containt-text h5{
position: absolute;
padding-left: 223px;
top: 323px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;

color: #0c0c0e;
}
/*--------------------------------------------------------------------------------------------------------------------------*/

.email-text input{
    margin-top: 2.5rem;
    margin-left: 13rem;
    width: 27%;
    height: 34px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
}
.email-text .icon{
    position: absolute;
    width: 70%;
    
    top: 53%;
    left: 230px;
    transform: translateY(-50%);
    color: rgb(7, 6, 6);
  }
.password-text input{
    margin-top: 1.5rem;
    margin-left: 13rem;
    width: 27%;
    height: 35px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.remember-me input{
    margin-top: 1.2rem;
   margin-left: 16.4%;
   font-size: 30px;
}
.text-checkbox {
    font-weight: 500;
   font-size: 16px;
} 
.forget-password p{
    margin-top: -1.1rem;
    margin-left: 28.3rem; 
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.signin_button{
    position: absolute;
margin-top: 0.5rem;
margin-left: 12.7rem;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 6.5rem;
    text-align: center;
    background-color: #3972F9;
    color: #fff;
    border-radius: 12px;
    border: 2px solid #3972F9;
   font-size: 15px;
}

.footer h5{
    margin-top: 6.5rem;
    margin-left: 15rem;
    font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;

}   
.footer a{
    color: #0c0b0b;
    margin-left: 0.5rem;
}

#container {
    position:relative;
}
#img2 {
    position: absolute;
   
    top: 50px;
    left: 915px;
    top: 20rem;
} 
#img1 {
    position: absolute;
    left: 750px;
    top: -12.5px;
    width: 600px;
    height: 799.5px;
    margin-top: 1%;
    float: right;
  border-bottom-left-radius: 160px 15%;
}