.head {
    position: absolute;
width: 1350px;
height: 800px;
left: 20%;
top: 8%;

background: #ffffff;
}

.header{
    padding: 180px 0;
    max-width: 950px;
    margin: auto; 
}

.header_text h2{
position: absolute;
margin-top: -1rem;
margin-left: 1.1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 52px;
color: #23262F;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

.button--google {
box-sizing: border-box;
position: absolute;
width: 185px;
height: 42px;
left: 150px;
top: 250px;
background: #FFFFFF;
border: 2px solid #DEE0E2;
border-radius: 10px;
}
.button--apple {
box-sizing: border-box;
position: absolute;
width: 185px;
height: 42px;
left: 384px;
top: 250px;
background: #FFFFFF;
border: 2px solid #DEE0E2;
border-radius: 10px;
}
.button img{
    position: absolute;
    margin-left: -1.49rem;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
.containt-text h5{
position: absolute;
padding-left: 152px;
top: 278px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
color: #0c0c0e;
}
.containt-text hr{
    color: #23262F;
    width: 18.6%;
    margin-left: -2.8em;
    margin-top: 8.12rem;
    padding-left: 1rem;
}
.containt-line hr{
    color: #23262F;
    width: 20.5%;
    margin-left: 10em;
    margin-top: -0.5em;
}
/*--------------------------------------------------------------------------------------------------------------------------*/

.first_name input{
    margin-top: 1em;
    margin-left: -2.9rem;
    width: 20%;
    height: 34px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
}
.Last_name input{
    margin-top: -2.5rem;
    margin-left: 10.122rem;
    width: 20%;
    height: 34px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
    float: left;
}
/*---------------------------------------------------------------------------------------------------------------------------*/

.email-text input{
    margin-top: 0.9rem;
    margin-left: -3rem;
    width: 43.6%;
    height: 34px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
}

.password-text input{
    margin-top: 1rem;
    margin-left: -3rem;
    width: 43.6%;
    height: 35px;
    font-size: 15px;
    border: 2px solid #DEE0E2;
    border-radius: 8px;
    background: #F4F7FE;
}


.remember-me input{
    margin-top: 1.2rem;
   margin-left: -3rem;
   font-size: 30px;
}

.text-checkbox {
    font-weight: 500;
   font-size: 16px;
   color: #6F767E;  
} 
.remember-me h4{
    margin-left: 3.4rem;
    margin-top: -1.157rem;
    font-size: 16px;
    color: #23262F;
}

.signup_button{
    position: absolute;
margin-top: 0.5rem;
margin-left: -3rem;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 7.55rem;
    text-align: center;
    background-color: #3972F9;
    color: #fff;
    border-radius: 12px;
    border: 2px solid #3972F9;
   font-size: 15px;
}

.footer h5{
    margin-top: 6.5rem;
    margin-left: 2.2rem;
    font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
color: #6F767E;

}   
.footer a{
    color: #23262F;
    margin-left: 0.5rem;
}

#container {
    position:relative;
}
#img2 {
    position: absolute;
   
    top: 50px;
    left: 915px;
    top: 20rem;
} 
#img1 {
    position: absolute;
    left: 750px;
    top: -12.5px;
    width: 600px;
    height: 799.5px;
    margin-top: 1%;
    float: right;
    border-bottom-left-radius: 160px 15%;
}